<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            display: flex;
            background-color: blue;
            text-decoration: none;
        }
        ul,li,a{
            text-align: right;
            color: aliceblue;
            text-decoration: none;
            list-style: none;
            display: flex;
            float: right;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
          <ul>
              <li><a href="">HOME</a></li>
              <li><a href="">ABOUT</a></li>
              <li><a href="">REGISTERSTUDENT</a></li>
              <li><a href="">STUDENTDETAILS</a></li>
              <li><a href="">SIGNUP</a></li>
              <li><a href="">SIGNIN</a></li>

          </ul>
        </nav>
    </header>
</body>
</html>