<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            display: flex;
            background-color: blue;
            text-decoration: none;
        }
        ul,li,a{
            text-align: right;
            color: aliceblue;
            text-decoration: none;
            list-style: none;
            display: flex;
            float: right;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
          <ul>
              <li><a href="{% url 'home' %}">HOME</a></li>
              <li><a href="{% url 'regStudent' %}">REGISTERSTUDENT</a></li>
              <li><a href="{% url 'fetch_std' %}">STUDENTDETAILS</a></li>
              <li><a href="{% url 'signup' %}">SIGNUP</a></li>
              <li><a href="{% url 'signin' %}">SIGNIN</a></li>
          </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>