<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'MyApp/base.html' %}
<body>
    {% block content %}
    <table>
        <thead>Students Details</thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Reg No</th>
            <th>Actions</th>
        </tr>
        {%  for data in std_data  %}
         <tr>
            <td>{{data.firstName}}</td>
            <td>{{data.secondName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.age}}</td>
            <td>{{data.regNo}}</td>
            <td><a href="{% url 'updateStd' data.pk %}">Update</a>
                <a href="{% url 'deleteStd' data.pk %}">Delete</a>
            </td>
         </tr>
        {%  endfor %}
    </table> 
    {% endblock %}
</body>
</html>