<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
{% extends 'MyApp/base.html %'}
<body>
    {% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="first_name">firstName</label>
        <input type="text" name="fname" required> <br>
        <label for="last_name">lastName</label>
        <input type="text" name="lname" required> <br>
        <label for="email">email</label>
        <input type="email" name="email" required> <br>
        <label for="regNo">regNo</label>
        <input type="text" name="regNo" required> <br>
        <label for="age">age</label>
        <input type="number" name="age" required> <br>
        <button type="submit">submit</button>
    </form>
    {% endblock %}   
</body>
</html>